<li>
<%= form_for(:session, html: { class: "loginForm" }, url: login_path) do |f| %>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="form-group">
  <%= f.submit "Log in", class: "login"  %>
</div>
<% end %>
</li>